{{!-- /views/index.hbs --}}

<br><br>

<div>
    <h1>Gluten Free App</h1>
</div>

{{!-- <div>
    <p>Welcome to {{title}}</p>
</div> --}}

<br><br>

<div>
    <p>
        "what's Gluten free food? why eating gluten free?(intolerance, celiac disease, gluten sensitivity...)                                                                                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.                                                                     Phasellus finibus lacinia neque nec eleifend.                                                                              Pellentesque pellentesque ipsum quis ante interdum euismod.                                                                                                Duis viverra felis sit amet tellus gravida, eget lacinia odio gravida. Phasellus velit felis, imperdiet a lorem eu, porttitor ornare tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus lacinia neque nec eleifend. Pellentesque pellentesque ipsum quis ante interdum euismod."
    </p>
</div>

<br><br>

<div>
    <p>
        "Duis viverra felis sit amet tellus gravida, eget lacinia odio gravida. Phasellus velit felis, imperdiet a lorem eu, porttitor ornare tellus.  Pellentesque pellentesque ipsum quis ante interdum euismod. Duis viverra felis sit amet tellus gravida, eget lacinia odio gravida. Phasellus velit felis, imperdiet a lorem eu, porttitor ornare tellus.  Pellentesque pellentesque ipsum quis ante interdum euismod. Duis viverra felis sit amet tellus gravida, eget lacinia odio gravida. Phasellus velit felis, imperdiet a lorem eu, porttitor ornare tellus."
    </p>
</div>

<br><br>

<div class="home-btn">

    <div class="register-btn">
        <button class="register" type="submit">Create Account</button>
    </div>

    <div class="create-btn">
        <button class="create-account" type="submit">Register</button>    
    </div>
</div>

