{{!-- /views/index.hbs --}}



<div>
    <h1>Gluten Free UP</h1>
    <img src="../public/images/gluten-free-icon.png" alt="gluten-free-icon">
</div>
<div>
    <h1>What's Gluten Free food?</h1>
    <h3>Definition</h3>
    <p>A gluten-free diet is an eating plan that excludes foods containing gluten. 
        Gluten is a protein found in wheat, barley, rye and triticale.</p>
        <h3>Purpose</h3>
    <p>A gluten-free diet is essential for managing signs and symptoms of celiac disease and other medical conditions associated with gluten.

A gluten-free diet is also popular among people who haven't been diagnosed with a gluten-related medical condition. 
The claimed benefits of the diet are improved health, weight loss and increased energy, but more research is needed.</p>
<h4>Celiac Disase</h4>
<p>is a condition in which gluten triggers immune system activity that damages the lining of the small intestine. 
    Over time this damage prevents the absorption of nutrients from food. Celiac disease is an autoimmune disorder.</p>
    <h4>Non-celiac gluten sensitivity</h4>
    <p>causes some signs and symptoms associated with celiac disease — including abdominal pain, bloating, diarrhea, constipation, "foggy brain," rash or headache — even though there is no damage to the tissues of the small intestine. 
        Studies show that the immune system plays a role, but the process isn't well understood.</p>

        <h4>Wheat allergy</h4>
        <p>like other food allergies, is the result of the immune system mistaking gluten or some other protein found in wheat as a disease-causing agent, such as a virus or bacterium. 
            The immune system creates an antibody to the protein, prompting an immune system response that may result in congestion,
             breathing difficulties and other symptoms.</p>

             <h1>Processed foods that often contain gluten</h1>
             <p>In addition to foods in which wheat, barley and rye are likely ingredients, these grains are standard ingredients in a number of other products. 
                 Also, wheat or wheat gluten is added as a thickening or binding agent, flavoring, or coloring. It's important to read labels of processed foods to determine if they contain wheat, as well as barley and rye.In general, 
avoid the following foods unless they're 
labeled as gluten-free or made with corn, rice, soy or other gluten-free grain:</p>
<ul>
    <li>Beer, ale, porter, stout (usually contain barley)</li>
    <li>Breads, Cereals,Pastas</li>
    <li>Cakes and pies</li>
    <li>Candies,Cookies and crackers</li>
    <li>French fries</li>
    <li>Seasoned rice mixes</li>
    <li>Seasoned snack foods, such as potato and tortilla chips</li>
    <li>Soups, bouillon or soup mixes</li>
</ul>
</div>

{{!-- <div>
    <p>Welcome to {{title}}</p>
</div> --}}

<br><br>

<div>
    <p>
        "what's Gluten free food? why eating gluten free?(intolerance, celiac disease, gluten sensitivity...)                                                                                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.                                                                     Phasellus finibus lacinia neque nec eleifend.                                                                              Pellentesque pellentesque ipsum quis ante interdum euismod.                                                                                                Duis viverra felis sit amet tellus gravida, eget lacinia odio gravida. Phasellus velit felis, imperdiet a lorem eu, porttitor ornare tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus lacinia neque nec eleifend. Pellentesque pellentesque ipsum quis ante interdum euismod."
    </p>
</div>

<br><br>

<div>
    <p>
        "Duis viverra felis sit amet tellus gravida, eget lacinia odio gravida. Phasellus velit felis, imperdiet a lorem eu, porttitor ornare tellus.  Pellentesque pellentesque ipsum quis ante interdum euismod. Duis viverra felis sit amet tellus gravida, eget lacinia odio gravida. Phasellus velit felis, imperdiet a lorem eu, porttitor ornare tellus.  Pellentesque pellentesque ipsum quis ante interdum euismod. Duis viverra felis sit amet tellus gravida, eget lacinia odio gravida. Phasellus velit felis, imperdiet a lorem eu, porttitor ornare tellus."
    </p>
</div>

<br><br>

<div class="home-btn">

    <div class="register-btn">
        <button class="register" type="submit">Create Account</button>
    </div>

    <div class="create-btn">
        <button class="create-account" type="submit">Register</button>    
    </div>
</div>

