{{!-- /views/index.hbs --}}
<div>
    <h1>{{title}}</h1>
</div>

<div>
    <p>Welcome to {{title}}</p>
</div>
<br><br>

<div class="home-btn">

    <div class="register-btn">
        <button class="register" type="submit">Create Account</button>
    </div>

    <div class="create-btn">
        <button class="create-account" type="submit">Register</button>    
    </div>
</div>

