<section class="GF-home">
    <div class="flex">
        <div class="box">
            <div class="definition box">
                <h1>What's Gluten Free?</h1>
                <h4>Definition</h4>
                <p>A gluten-free diet is an eating plan that excludes foods containing gluten.
                    Gluten is a protein found in wheat, barley, rye and triticale.</p>
                <h4>Purpose</h4>
                <p>A gluten-free diet is essential for managing signs and symptoms of celiac disease and other medical
                    conditions associated with gluten.

                    A gluten-free diet is also popular among people who haven't been diagnosed with a gluten-related
                    medical
                    condition.
                    The claimed benefits of the diet are improved health, weight loss and increased energy, but more
                    research is needed.</p>
                <ul>
                    <li>
                        <h3>Celiac Disase</h3>
                        is a condition in which gluten triggers immune system activity that damages the lining of the
                            small
                            intestine.
                            Over time this damage prevents the absorption of nutrients from food. Celiac disease is an
                            autoimmune
                            disorder.
                    </li>
                    <li>
                        <h3>Non-celiac gluten sensitivity</h3>
                        causes some signs and symptoms associated with celiac disease — including abdominal pain,
                            bloating,
                            diarrhea, constipation, "foggy brain," rash or headache — even though there is no damage to
                            the
                            tissues
                            of the small intestine.
                            Studies show that the immune system plays a role, but the process isn't well understood.
                    </li>
                    <li>
                        <h3>Wheat allergy</h3>
                        like other food allergies, is the result of the immune system mistaking gluten or some other
                            protein
                            found in wheat as a disease-causing agent, such as a virus or bacterium.
                            The immune system creates an antibody to the protein, prompting an immune system response
                            that may
                            result in congestion,
                            breathing difficulties and other symptoms.
                    </li>
                </ul>




            </div>
            <div class="box foodList">
                <h1>Processed foods that often contain gluten</h1>
                <p>In addition to foods in which wheat, barley and rye are likely ingredients, these grains are standard
                    ingredients in a number of other products.
                    Also, wheat or wheat gluten is added as a thickening or binding agent, flavoring, or coloring. It's
                    important to read labels of processed foods to determine if they contain wheat, as well as barley
                    and
                    rye.In general,
                    avoid the following foods unless they're
                    labeled as gluten-free or made with corn, rice, soy or other gluten-free grain:</p>
                <ul>
                    <li>Beer, ale, porter, stout (usually contain barley)</li>
                    <li>Breads, Cereals,Pastas</li>
                    <li>Cakes and pies</li>
                    <li>Candies,Cookies and crackers</li>
                    <li>French fries</li>
                    <li>Seasoned rice mixes</li>
                    <li>Seasoned snack foods, such as potato and tortilla chips</li>
                    <li>Soups, bouillon or soup mixes</li>
                </ul>
            </div>
            <div class="box resources">
                <h1>Resources </h1>
                <ul>
                    <li>
                        <a href="https://www.legalnomads.com/gluten-free/france/">The essential gluten guide to
                            France</a>
                    </li>
                    <li>
                        <a href="https://www.health.harvard.edu/staying-healthy/ditch-the-gluten-improve-your-health">Ditch
                            the Gluten, Improve Your Health?</a>
                    </li>
                    <li>
                        <a href="https://jandonline.org/article/S2212-2672(12)00743-5/fulltext#relatedArticles">Gluten-free
                            Diet: Imprudent Dietary Advice for the General Population?</a>
                    </li>
                    <li>
                        <a
                            href="https://theconversation.com/gluten-free-diet-is-expensive-socially-challenging-for-those-with-celiac-disease-and-wheat-allergy-155861">Gluten-free
                            diet is expensive, socially challenging for those with celiac disease and wheat allergy</a>

                    </li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div>
                <div class="Tips box">
                    <h1>Tips and lifestyle</h1>
                    <ul>
                        <li>
                            <h3>Enjoy The Foods You Can Eat</h3>Don’t be sad about the foods you can’t eat; celebrate
                            the ones
                            you can!
                            Besides all the whole, real foods out there to enjoy, there are also a lot of gluten-free
                            options
                            available these days. Sure, you’ll pay more for them, but if you really want a sandwich or a
                            cookie,
                            you do have options that don’t include gluten.
                        </li>
                        <li>
                            <h3>Read Labels!</h3>This is probably one of the most important tips for going gluten-free.
                            The
                            sneaky protein hides in a lot of places you might not expect, so be sure to read all labels.
                            Know
                            which items contain gluten (see the list above for help) and avoid those foods that contain
                            any of
                            those ingredients.
                        </li>
                        <li>
                            <h3>Be Kind To Yourself</h3>Unless you’re Celiac, it’s not a matter of life or death for you
                            to be
                            100 percent successful in cutting out gluten all at once. If you need to, cut it out a bit
                            at a time
                            until you’re entirely gluten-free. Don’t feel bad about transitioning to gluten-free options
                            if you
                            don’t want to cut out bread and baked goods entirely. Just be proud of yourself for taking
                            this
                            step.
                        </li>
                        <li>
                            <h3>Remember that many foods are naturally gluten free</h3>All of that researching might
                            make you
                            think that there’s nothing you can eat anymore, but that isn’t true! Fruits, veggies, dairy,
                            poultry, fish, meat, eggs, and more are all naturally gluten free. These whole foods are the
                            basis
                            of any healthy lifestyle, so eat up.
                        </li>
                        <img src="./images/lifestyle.png" alt="healthy-lifestyle">
                    </ul>
                </div>
                <div class="websites box">
                    <h1>Shopping Gluten Free Food Online </h1>
                    <ul>
                        <li>
                            <a href="https://www.onatera.com">Onatera</a>
                        </li>
                        <li>
                            <a href="https://www.just-eat.fr/en/order-gluten-free-food-in">Just Eat</a>
                        </li>
                        <li>
                            <a href="https://glutenfreemall.com">Gluten-Free mall</a>
                        </li>
                        <li>
                            <a href="https://hipparis.com/2019/10/10/our-best-4-gluten-free-grocery-stores-in-paris/#">HiP
                                PARIS</a>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>