{{!-- /views/index.hbs --}}

<!DOCTYPE html>
<html lang='en'>

<head>

  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <title>Gluten Free App</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link href='https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap' rel='stylesheet' />

</head>
<div class="nav-menu">
  <nav class="box">
    <div class="app-logo">
      <img src="/images/gluten-free-icon.png" alt="gluten-free-icon">
      <h1>Gluten Free UP</h1>
    </div>

    <a href='/' class="nav-Btn">Home</a>
    <a href='/recipe' class="nav-Btn">All recipes</a>
    {{#if isAdmin}}
    <a href='/createRecipe' class="nav-Btn">Add Recipe</a>
    {{/if}}
    {{#if currentUser}}
    <a href='/profile' class="nav-Btn">My Profile</a>
    {{/if}}

    <div>
      {{#if currentUser}}
      <span>Hello {{currentUser.username}} !</span>
      <span> | </span>
      <a class="nav-register" href='/logout'>Sign Out</a>
      {{else}}
      <a class="nav-register" href='/signin'>Sign In</a>
      <span> | </span>
      <a class="nav-create-account" href='/signup'>Create Account</a>
      {{/if}}

    </div>
  </nav>
</div>


{{{body}}}

<footer></footer>

</html>