{{!-- /views/index.hbs --}}

<!DOCTYPE html>
<html lang='en'>

  <head>

    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title>Gluten Free App</title>

      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='preconnect' href='https://fonts.googleapis.com' />
      <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
      <link href='https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap' rel='stylesheet' />      
 
  </head>

  <nav class="box">
    <a href='/'>Home</a>
    <a href='/recipe'>All recipes</a>
    <a href='/createRecipe'>Add Recipe</a>
    <a href='/profile'>My Profile</a>
    <div>
      <a class="nav-register" href='/signin'>Sign In</a> 
      <a class="nav-create-account" href='/signup'>| Create Account</a>                     
    </div>
  </nav>

  {{{body}}}

  <footer></footer>

</html>
