{{>recipePartial recipe}}

<div class="one-recipe">
    <div class="border1">
        <h1>ingredients</h1>

        <ol>
            {{#each recipe.ingredients}}
            <li>{{this}}</li>
            
            {{/each}}
        </ol>
    </div>
</div>
<div class="UDlink">
<a href="/update/{{recipe._id}}" class ="delete">Update recipe</a>
<a href="/delete/{{recipe._id}}" class ="delete">Delete recipe</a>

</div>