<h1>Welcome to Gluten Free Up {{user.username}}!</h1>
<div class="profile">
    <h1>Your favorite recipes</h1>
</div>
<div class="profile-recipes">
    {{#each user.favoriteRecipes}}
    <div class="centered-box">
        {{>recipePartial}}
    </div>
    {{/each}}
</div>