@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
body {
    padding: 20px;
    font: 14px;
    /* background: url('/images/bg.webp') no-repeat center center fixed; */
    background-color: rgb(240, 223, 203);
    background-size: cover;
    font: 14px "Nunito", sans-serif;
    padding-top: 125px;
}

.nav-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: rgb(240, 223, 203);
    z-index: 99999;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.nav-Btn {
    font-weight: bolder;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5.5em;
    border-radius: 4px;
    margin-bottom: 25px;
    z-index: 999999;
}

footer {
    text-align: center;
    font-size: 12px;
}

a {
    color: unset;
    text-decoration: none;
    color: #111111;
}

a:hover {
    text-decoration: white;
}

.one-recipe {
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(248, 219, 229, 0.4);
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.recipe-image {
    max-width: 150px;
    max-height: 150px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

h1 {
    font-family: 'Style Script';
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4 {
    font-size: 24px;
    font-family: 'Style Script';
    margin-bottom: 5px;
    margin-top: 5px;
}

span {
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid rgb(22, 21, 21);
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 100%;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
}

.header>div {
    margin-right: auto;
    margin-left: 15px;
}

.header h4 {
    margin-top: 10px;
}

.header p {
    margin-top: 0px;
}

.header h4 {
    margin-bottom: 0px;
}

.details {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ingredients {
    margin-left: 3px;
}

.ingredients h5 {
    font-size: 24px;
    text-align: center;
    font-family: 'Style Script';
}

.border1 {
    border: rgba(255, 255, 255, 0.6) 2px solid;
    border-radius: 10px;
    background-color: #f5f9fce8;
    padding: 5px;
}

.border1 h1 {
    margin-left: 10px;
}

.recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipes-container>div {
    width: 450px;
    border-radius: 10px;
}

.page-title {
    text-align: center;
    margin: 15px;
}

.head {
    font-family: 'Style Script';
    text-align: center;
    font-size: 24px;
}

.profile-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.centered-box {
    max-width: 600px;
    min-width: 450px;
    margin: 0 auto;
}

.centered-box input,
.centered-box select {
    display: block;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    border-image: initial;
}

.form-buttons {
    text-align: center;
}

.recipe-btn {
    border: grey 2px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    font-size: 16px;
    display: inline-block;
    margin: 10px auto;
    min-width: 100px;
    text-align: center;
}

.UDlink {
    display: flex;
    flex-direction: row;
}


/* public/stylesheets/style.css */

.nav-register {
    font-size: 14px;
    font-weight: bold;
    /* margin-top: -20px; */
}

.signup-link:over {
    text-decoration: blue;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    color: rgb(56, 55, 55);
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 100%;
}

.register,
.create-account {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    width: 250px;
    background: #43a3e6;
    border: 1px solid #43a3e6;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s ease background;
    text-align: center;
}

.register:hover,
.create-account:hover {
    background: #fff;
    color: #43a3e6;
    transition: 0.3s ease background;
}

.register-btn {
    text-align: left;
}

.create-btn {
    text-align: right;
    margin-top: -34px;
}

.home-btn {
    /* border: 0px solid #e6e7e8; */
    border-radius: 4px;
    width: 525px;
    text-align: center;
    margin: auto;
}

.auth-form {
    width: 300px;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
}

.help-msg {
    font-size: 10px;
}

.box {
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #e6e7e8;
    border-radius: 4px;
}

.box .box {
    padding-right: 10px;
}

.auth-form input,
.auth-form button {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #d9dadc;
}

.auth-form button {
    background: #43a3e6;
    border: 1px solid #43a3e6;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease background;
    width: 100%;
}

.auth-form button:hover {
    background: #fff;
    color: #43a3e6;
    transition: 0.3s ease background;
}

.sign-up-link,
.sign-in-link {
    color: blue;
    font-weight: bold;
}

.definition,
.foodList,
.Tips,
.websites,
.resources {
    margin: 20px;
    padding: 10px
}

.GF-home p {
    margin-left: 20px;
    margin-top: 0px;
}

.foodList {
    margin: 20px;
}

.Tips img {
    width: 500px;
    height: 500px;
    text-align: center;
}

nav img {
    max-width: 90px;
    max-height: 90px;
}

.app-logo {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.flex>.box {
    margin: 20px;
}

.favorite-btn {
    position: absolute;
    top: 0px;
    right: 00px;
    width: 30px;
    height: 25px;
    font-size: 24px;
    border-radius: 30px;
    display: inline-block;
    padding-bottom: 6px;
    text-align: center;
    text-decoration: unset;
}

.not-favorite {
    color: black;
    border: 1px solid black;
}

.favorite {
    color: red;
    border: 1px solid red;
}

.profile img {
    width: 100px;
    height: 100px;
}

.profile {
    text-align: center;
}

.difficulty-1,
.difficulty-2,
.difficulty-3 {
    display: inline-block;
    height: 25px;
    background-image: url('/images/cheff-hat.png');
    margin-bottom: -10px;
}

.difficulty-1 {
    width: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
}

.difficulty-2 {
    width: 40px;
    background-size: 20px;
    background-repeat: repeat-x;
}

.difficulty-3 {
    width: 60px;
    background-size: 20px;
    background-repeat: repeat-x;
}

.one-recipe table {
    text-align: center;
    margin-top: 10px;
}

textarea {
    display: block;
    max-height: 100px;
    height: 100px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.flex-form {
    display: flex;
    flex-direction: row;
}

.flex-form>div {
    flex-grow: 1;
}

.flex-form>div:not(:first-child) {
    padding-left: 5px;
}

.box>.one-recipe {
    margin: 10px;
}

.centered-box>.box {
    margin-top: 10px;
}

.centered-box.title {
    text-align: center;
}

.centered-box.title h1.page-title {
    display: inline;
}

.ingredients {
    line-height: 1.8;
}